Source/ConsoleClient/xml-resources/web-service-references/ArticlesService/wsdl/localhost_8080/ArticlesService/ArticlesService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="ArticlesService">
<types>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://localhost:8080/ArticlesService/ArticlesService?xsd=1"/>
</xsd:schema>
</types>
<message name="remove">
<part name="parameters" element="tns:remove"/>
</message>
<message name="count">
<part name="parameters" element="tns:count"/>
</message>
<message name="countResponse">
<part name="parameters" element="tns:countResponse"/>
</message>
<message name="find">
<part name="parameters" element="tns:find"/>
</message>
<message name="findResponse">
<part name="parameters" element="tns:findResponse"/>
</message>
<message name="create">
<part name="parameters" element="tns:create"/>
</message>
<message name="create_1">
<part name="parameters" element="tns:create_1"/>
</message>
<message name="create_1Response">
<part name="parameters" element="tns:create_1Response"/>
</message>
<message name="search">
<part name="parameters" element="tns:search"/>
</message>
<message name="searchResponse">
<part name="parameters" element="tns:searchResponse"/>
</message>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<message name="findRange">
<part name="parameters" element="tns:findRange"/>
</message>
<message name="findRangeResponse">
<part name="parameters" element="tns:findRangeResponse"/>
</message>
<message name="edit">
<part name="parameters" element="tns:edit"/>
</message>
<message name="calculateAverage">
<part name="parameters" element="tns:calculateAverage"/>
</message>
<message name="calculateAverageResponse">
<part name="parameters" element="tns:calculateAverageResponse"/>
</message>
<portType name="ArticlesService">
<operation name="remove">
<input wsam:Action="http://services/ArticlesService/remove" message="tns:remove"/>
</operation>
<operation name="count">
<input wsam:Action="http://services/ArticlesService/countRequest" message="tns:count"/>
<output wsam:Action="http://services/ArticlesService/countResponse" message="tns:countResponse"/>
</operation>
<operation name="find">
<input wsam:Action="http://services/ArticlesService/findRequest" message="tns:find"/>
<output wsam:Action="http://services/ArticlesService/findResponse" message="tns:findResponse"/>
</operation>
<operation name="create">
<input wsam:Action="http://services/ArticlesService/create" message="tns:create"/>
</operation>
<operation name="create_1">
<input wsam:Action="http://services/ArticlesService/create_1Request" message="tns:create_1"/>
<output wsam:Action="http://services/ArticlesService/create_1Response" message="tns:create_1Response"/>
</operation>
<operation name="search">
<input wsam:Action="http://services/ArticlesService/searchRequest" message="tns:search"/>
<output wsam:Action="http://services/ArticlesService/searchResponse" message="tns:searchResponse"/>
</operation>
<operation name="findAll">
<input wsam:Action="http://services/ArticlesService/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://services/ArticlesService/findAllResponse" message="tns:findAllResponse"/>
</operation>
<operation name="findRange">
<input wsam:Action="http://services/ArticlesService/findRangeRequest" message="tns:findRange"/>
<output wsam:Action="http://services/ArticlesService/findRangeResponse" message="tns:findRangeResponse"/>
</operation>
<operation name="edit">
<input wsam:Action="http://services/ArticlesService/edit" message="tns:edit"/>
</operation>
<operation name="calculateAverage">
<input wsam:Action="http://services/ArticlesService/calculateAverageRequest" message="tns:calculateAverage"/>
<output wsam:Action="http://services/ArticlesService/calculateAverageResponse" message="tns:calculateAverageResponse"/>
</operation>
</portType>
<binding name="ArticlesServicePortBinding" type="tns:ArticlesService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="remove">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="count">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="find">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="create">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="create_1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="search">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="edit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="calculateAverage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ArticlesService">
<port name="ArticlesServicePort" binding="tns:ArticlesServicePortBinding">
<soap:address location="http://localhost:8080/ArticlesService/ArticlesService"/>
</port>
</service>
</definitions>