Source/PeercheckClient/xml-resources/web-service-references/WSPeercheck/wsdl/server.peercheck.com_8080/WSPeercheck/WSPeercheck.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://services/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services/">

<xs:element name="addArticle" type="tns:addArticle"/>

<xs:element name="addArticleResponse" type="tns:addArticleResponse"/>

<xs:element name="addEvent" type="tns:addEvent"/>

<xs:element name="addEventResponse" type="tns:addEventResponse"/>

<xs:element name="addReview" type="tns:addReview"/>

<xs:element name="addReviewResponse" type="tns:addReviewResponse"/>

<xs:element name="articles" type="tns:articles"/>

<xs:element name="calculateFinalGradeToArticle" type="tns:calculateFinalGradeToArticle"/>

<xs:element name="calculateFinalGradeToArticleResponse" type="tns:calculateFinalGradeToArticleResponse"/>

<xs:element name="changeRol" type="tns:changeRol"/>

<xs:element name="changeRolResponse" type="tns:changeRolResponse"/>

<xs:element name="events" type="tns:events"/>

<xs:element name="findArticleBy" type="tns:findArticleBy"/>

<xs:element name="findArticleByResponse" type="tns:findArticleByResponse"/>

<xs:element name="findUsersByEmail" type="tns:findUsersByEmail"/>

<xs:element name="findUsersByEmailResponse" type="tns:findUsersByEmailResponse"/>

<xs:element name="findUsersByRole" type="tns:findUsersByRole"/>

<xs:element name="findUsersByRoleResponse" type="tns:findUsersByRoleResponse"/>

<xs:element name="getAllArticles" type="tns:getAllArticles"/>

<xs:element name="getAllArticlesResponse" type="tns:getAllArticlesResponse"/>

<xs:element name="getAllUsers" type="tns:getAllUsers"/>

<xs:element name="getAllUsersResponse" type="tns:getAllUsersResponse"/>

<xs:element name="getArticleFile" type="tns:getArticleFile"/>

<xs:element name="getArticleFileResponse" type="tns:getArticleFileResponse"/>

<xs:element name="getArticlesByAuthor" type="tns:getArticlesByAuthor"/>

<xs:element name="getArticlesByAuthorResponse" type="tns:getArticlesByAuthorResponse"/>

<xs:element name="getReviewsByArticle" type="tns:getReviewsByArticle"/>

<xs:element name="getReviewsByArticleResponse" type="tns:getReviewsByArticleResponse"/>

<xs:element name="getReviewsByReviewer" type="tns:getReviewsByReviewer"/>

<xs:element name="getReviewsByReviewerResponse" type="tns:getReviewsByReviewerResponse"/>

<xs:element name="login" type="tns:login"/>

<xs:element name="loginResponse" type="tns:loginResponse"/>

<xs:element name="reviews" type="tns:reviews"/>

<xs:element name="signup" type="tns:signup"/>

<xs:element name="signupResponse" type="tns:signupResponse"/>

<xs:element name="trannyFile" type="tns:trannyFile"/>

<xs:element name="updateReview" type="tns:updateReview"/>

<xs:element name="updateReviewResponse" type="tns:updateReviewResponse"/>

<xs:element name="users" type="tns:users"/>

<xs:complexType name="getArticlesByAuthor">
<xs:sequence>
<xs:element name="author" type="tns:users" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="users">
<xs:sequence>
<xs:element name="birthdate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="role" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getArticlesByAuthorResponse">
<xs:sequence>
<xs:element name="return" type="tns:articles" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="articles">
<xs:sequence>
<xs:element name="abstract1" type="xs:string" minOccurs="0"/>
<xs:element name="category" type="xs:string" minOccurs="0"/>
<xs:element name="event" type="tns:events" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="keywords" type="xs:string" minOccurs="0"/>
<xs:element name="mainAuthorId" type="tns:users" minOccurs="0"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="events">
<xs:sequence>
<xs:element name="date" type="xs:dateTime" minOccurs="0"/>
<xs:element name="deadline" type="xs:dateTime" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="editorId" type="tns:users" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="location" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="submissionstart" type="xs:dateTime" minOccurs="0"/>
<xs:element name="website" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getReviewsByReviewer">
<xs:sequence>
<xs:element name="reviewer" type="tns:users" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getReviewsByReviewerResponse">
<xs:sequence>
<xs:element name="return" type="tns:reviews" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reviews">
<xs:sequence>
<xs:element name="articleId" type="tns:articles" minOccurs="0"/>
<xs:element name="date" type="xs:dateTime" minOccurs="0"/>
<xs:element name="grade" type="xs:int"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
<xs:element name="reviewerId" type="tns:users" minOccurs="0"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calculateFinalGradeToArticle">
<xs:sequence>
<xs:element name="article" type="tns:articles" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calculateFinalGradeToArticleResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addEvent">
<xs:sequence>
<xs:element name="event" type="tns:events" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addEventResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllArticles">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllArticlesResponse">
<xs:sequence>
<xs:element name="return" type="tns:articles" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findUsersByRole">
<xs:sequence>
<xs:element name="role" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findUsersByRoleResponse">
<xs:sequence>
<xs:element name="return" type="tns:users" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addReview">
<xs:sequence>
<xs:element name="review" type="tns:reviews" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addReviewResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="changeRol">
<xs:sequence>
<xs:element name="user" type="tns:users" minOccurs="0"/>
<xs:element name="role" type="tns:userRole" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="changeRolResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addArticle">
<xs:sequence>
<xs:element name="article" type="tns:articles" minOccurs="0"/>
<xs:element name="file" type="tns:trannyFile" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="trannyFile">
<xs:sequence>
<xs:element name="content" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addArticleResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllUsers">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllUsersResponse">
<xs:sequence>
<xs:element name="return" type="tns:users" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getReviewsByArticle">
<xs:sequence>
<xs:element name="article" type="tns:articles" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getReviewsByArticleResponse">
<xs:sequence>
<xs:element name="return" type="tns:reviews" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findArticleBy">
<xs:sequence>
<xs:element name="criteria" type="tns:articleCriteria" minOccurs="0"/>
<xs:element name="value" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findArticleByResponse">
<xs:sequence>
<xs:element name="return" type="tns:articles" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getArticleFile">
<xs:sequence>
<xs:element name="article" type="tns:articles" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getArticleFileResponse">
<xs:sequence>
<xs:element name="return" type="tns:trannyFile" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findUsersByEmail">
<xs:sequence>
<xs:element name="emails" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findUsersByEmailResponse">
<xs:sequence>
<xs:element name="return" type="tns:users" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateReview">
<xs:sequence>
<xs:element name="review" type="tns:reviews" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateReviewResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="login">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginResponse">
<xs:sequence>
<xs:element name="return" type="tns:users" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="signup">
<xs:sequence>
<xs:element name="user" type="tns:users" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="signupResponse">
<xs:sequence>
<xs:element name="return" type="tns:users" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="userRole">
<xs:restriction base="xs:string">
<xs:enumeration value="GENERICO"/>
<xs:enumeration value="AUTOR"/>
<xs:enumeration value="REVISOR"/>
<xs:enumeration value="EDITOR"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="articleCriteria">
<xs:restriction base="xs:string">
<xs:enumeration value="NOMBRE"/>
<xs:enumeration value="CATEGORIA"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>