Source/PeercheckClient/xml-resources/web-service-references/WSPeercheck/wsdl/server.peercheck.com_8080/WSPeercheck/WSPeercheck.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="WSPeercheck">
<types>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://server.peercheck.com:8080/WSPeercheck/WSPeercheck?xsd=1"/>
</xsd:schema>
</types>
<message name="signup">
<part name="parameters" element="tns:signup"/>
</message>
<message name="signupResponse">
<part name="parameters" element="tns:signupResponse"/>
</message>
<message name="addArticle">
<part name="parameters" element="tns:addArticle"/>
</message>
<message name="addArticleResponse">
<part name="parameters" element="tns:addArticleResponse"/>
</message>
<message name="addReview">
<part name="parameters" element="tns:addReview"/>
</message>
<message name="addReviewResponse">
<part name="parameters" element="tns:addReviewResponse"/>
</message>
<message name="getAllUsers">
<part name="parameters" element="tns:getAllUsers"/>
</message>
<message name="getAllUsersResponse">
<part name="parameters" element="tns:getAllUsersResponse"/>
</message>
<message name="findArticleBy">
<part name="parameters" element="tns:findArticleBy"/>
</message>
<message name="findArticleByResponse">
<part name="parameters" element="tns:findArticleByResponse"/>
</message>
<message name="changeRol">
<part name="parameters" element="tns:changeRol"/>
</message>
<message name="changeRolResponse">
<part name="parameters" element="tns:changeRolResponse"/>
</message>
<message name="findUsersByEmail">
<part name="parameters" element="tns:findUsersByEmail"/>
</message>
<message name="findUsersByEmailResponse">
<part name="parameters" element="tns:findUsersByEmailResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="calculateFinalGradeToArticle">
<part name="parameters" element="tns:calculateFinalGradeToArticle"/>
</message>
<message name="calculateFinalGradeToArticleResponse">
<part name="parameters" element="tns:calculateFinalGradeToArticleResponse"/>
</message>
<message name="assignReviewerToArticle">
<part name="parameters" element="tns:assignReviewerToArticle"/>
</message>
<message name="assignReviewerToArticleResponse">
<part name="parameters" element="tns:assignReviewerToArticleResponse"/>
</message>
<portType name="WSPeercheck">
<operation name="signup">
<input wsam:Action="http://services/WSPeercheck/signupRequest" message="tns:signup"/>
<output wsam:Action="http://services/WSPeercheck/signupResponse" message="tns:signupResponse"/>
</operation>
<operation name="addArticle">
<input wsam:Action="http://services/WSPeercheck/addArticleRequest" message="tns:addArticle"/>
<output wsam:Action="http://services/WSPeercheck/addArticleResponse" message="tns:addArticleResponse"/>
</operation>
<operation name="addReview">
<input wsam:Action="http://services/WSPeercheck/addReviewRequest" message="tns:addReview"/>
<output wsam:Action="http://services/WSPeercheck/addReviewResponse" message="tns:addReviewResponse"/>
</operation>
<operation name="getAllUsers">
<input wsam:Action="http://services/WSPeercheck/getAllUsersRequest" message="tns:getAllUsers"/>
<output wsam:Action="http://services/WSPeercheck/getAllUsersResponse" message="tns:getAllUsersResponse"/>
</operation>
<operation name="findArticleBy">
<input wsam:Action="http://services/WSPeercheck/findArticleByRequest" message="tns:findArticleBy"/>
<output wsam:Action="http://services/WSPeercheck/findArticleByResponse" message="tns:findArticleByResponse"/>
</operation>
<operation name="changeRol">
<input wsam:Action="http://services/WSPeercheck/changeRolRequest" message="tns:changeRol"/>
<output wsam:Action="http://services/WSPeercheck/changeRolResponse" message="tns:changeRolResponse"/>
</operation>
<operation name="findUsersByEmail">
<input wsam:Action="http://services/WSPeercheck/findUsersByEmailRequest" message="tns:findUsersByEmail"/>
<output wsam:Action="http://services/WSPeercheck/findUsersByEmailResponse" message="tns:findUsersByEmailResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://services/WSPeercheck/loginRequest" message="tns:login"/>
<output wsam:Action="http://services/WSPeercheck/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="calculateFinalGradeToArticle">
<input wsam:Action="http://services/WSPeercheck/calculateFinalGradeToArticleRequest" message="tns:calculateFinalGradeToArticle"/>
<output wsam:Action="http://services/WSPeercheck/calculateFinalGradeToArticleResponse" message="tns:calculateFinalGradeToArticleResponse"/>
</operation>
<operation name="assignReviewerToArticle">
<input wsam:Action="http://services/WSPeercheck/assignReviewerToArticleRequest" message="tns:assignReviewerToArticle"/>
<output wsam:Action="http://services/WSPeercheck/assignReviewerToArticleResponse" message="tns:assignReviewerToArticleResponse"/>
</operation>
</portType>
<binding name="WSPeercheckPortBinding" type="tns:WSPeercheck">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="signup">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addArticle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addReview">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllUsers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findArticleBy">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="changeRol">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findUsersByEmail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="calculateFinalGradeToArticle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="assignReviewerToArticle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSPeercheck">
<port name="WSPeercheckPort" binding="tns:WSPeercheckPortBinding">
<soap:address location="http://server.peercheck.com:8080/WSPeercheck/WSPeercheck"/>
</port>
</service>
</definitions>