Source/WSArticles/src/conf/xml-resources/web-service-references/UsersService/wsdl/localhost_8080/UsersService/UsersService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="UsersService">
<types>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://localhost:8080/UsersService/UsersService?xsd=1"/>
</xsd:schema>
</types>
<message name="remove">
<part name="parameters" element="tns:remove"/>
</message>
<message name="count">
<part name="parameters" element="tns:count"/>
</message>
<message name="countResponse">
<part name="parameters" element="tns:countResponse"/>
</message>
<message name="find">
<part name="parameters" element="tns:find"/>
</message>
<message name="findResponse">
<part name="parameters" element="tns:findResponse"/>
</message>
<message name="create">
<part name="parameters" element="tns:create"/>
</message>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<message name="findUsersByRole">
<part name="parameters" element="tns:findUsersByRole"/>
</message>
<message name="findUsersByRoleResponse">
<part name="parameters" element="tns:findUsersByRoleResponse"/>
</message>
<message name="findUserByEmail">
<part name="parameters" element="tns:findUserByEmail"/>
</message>
<message name="findUserByEmailResponse">
<part name="parameters" element="tns:findUserByEmailResponse"/>
</message>
<message name="convertToReviewer">
<part name="parameters" element="tns:convertToReviewer"/>
</message>
<message name="convertToReviewerResponse">
<part name="parameters" element="tns:convertToReviewerResponse"/>
</message>
<message name="findUsersByEmails">
<part name="parameters" element="tns:findUsersByEmails"/>
</message>
<message name="findUsersByEmailsResponse">
<part name="parameters" element="tns:findUsersByEmailsResponse"/>
</message>
<message name="edit">
<part name="parameters" element="tns:edit"/>
</message>
<message name="findRange">
<part name="parameters" element="tns:findRange"/>
</message>
<message name="findRangeResponse">
<part name="parameters" element="tns:findRangeResponse"/>
</message>
<portType name="UsersService">
<operation name="remove">
<input wsam:Action="http://services/UsersService/remove" message="tns:remove"/>
</operation>
<operation name="count">
<input wsam:Action="http://services/UsersService/countRequest" message="tns:count"/>
<output wsam:Action="http://services/UsersService/countResponse" message="tns:countResponse"/>
</operation>
<operation name="find">
<input wsam:Action="http://services/UsersService/findRequest" message="tns:find"/>
<output wsam:Action="http://services/UsersService/findResponse" message="tns:findResponse"/>
</operation>
<operation name="create">
<input wsam:Action="http://services/UsersService/create" message="tns:create"/>
</operation>
<operation name="findAll">
<input wsam:Action="http://services/UsersService/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://services/UsersService/findAllResponse" message="tns:findAllResponse"/>
</operation>
<operation name="findUsersByRole">
<input wsam:Action="http://services/UsersService/findUsersByRoleRequest" message="tns:findUsersByRole"/>
<output wsam:Action="http://services/UsersService/findUsersByRoleResponse" message="tns:findUsersByRoleResponse"/>
</operation>
<operation name="findUserByEmail">
<input wsam:Action="http://services/UsersService/findUserByEmailRequest" message="tns:findUserByEmail"/>
<output wsam:Action="http://services/UsersService/findUserByEmailResponse" message="tns:findUserByEmailResponse"/>
</operation>
<operation name="convertToReviewer">
<input wsam:Action="http://services/UsersService/convertToReviewerRequest" message="tns:convertToReviewer"/>
<output wsam:Action="http://services/UsersService/convertToReviewerResponse" message="tns:convertToReviewerResponse"/>
</operation>
<operation name="findUsersByEmails">
<input wsam:Action="http://services/UsersService/findUsersByEmailsRequest" message="tns:findUsersByEmails"/>
<output wsam:Action="http://services/UsersService/findUsersByEmailsResponse" message="tns:findUsersByEmailsResponse"/>
</operation>
<operation name="edit">
<input wsam:Action="http://services/UsersService/edit" message="tns:edit"/>
</operation>
<operation name="findRange">
<input wsam:Action="http://services/UsersService/findRangeRequest" message="tns:findRange"/>
<output wsam:Action="http://services/UsersService/findRangeResponse" message="tns:findRangeResponse"/>
</operation>
</portType>
<binding name="UsersServicePortBinding" type="tns:UsersService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="remove">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="count">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="find">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="create">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findUsersByRole">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findUserByEmail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="convertToReviewer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findUsersByEmails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="edit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="UsersService">
<port name="UsersServicePort" binding="tns:UsersServicePortBinding">
<soap:address location="http://localhost:8080/UsersService/UsersService"/>
</port>
</service>
</definitions>