Source/PeercheckClient/src/META-INF/wsdl/server.peercheck.com_8080/WSPeercheck/WSPeercheck.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://services/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services/">

<xs:element name="addArticle" type="tns:addArticle"/>

<xs:element name="addArticleResponse" type="tns:addArticleResponse"/>

<xs:element name="addReview" type="tns:addReview"/>

<xs:element name="addReviewResponse" type="tns:addReviewResponse"/>

<xs:element name="articles" type="tns:articles"/>

<xs:element name="assignReviewerToArticle" type="tns:assignReviewerToArticle"/>

<xs:element name="assignReviewerToArticleResponse" type="tns:assignReviewerToArticleResponse"/>

<xs:element name="calculateFinalGradeToArticle" type="tns:calculateFinalGradeToArticle"/>

<xs:element name="calculateFinalGradeToArticleResponse" type="tns:calculateFinalGradeToArticleResponse"/>

<xs:element name="changeRol" type="tns:changeRol"/>

<xs:element name="changeRolResponse" type="tns:changeRolResponse"/>

<xs:element name="findArticleBy" type="tns:findArticleBy"/>

<xs:element name="findArticleByResponse" type="tns:findArticleByResponse"/>

<xs:element name="login" type="tns:login"/>

<xs:element name="loginResponse" type="tns:loginResponse"/>

<xs:element name="reviews" type="tns:reviews"/>

<xs:element name="signup" type="tns:signup"/>

<xs:element name="signupResponse" type="tns:signupResponse"/>

<xs:element name="users" type="tns:users"/>

<xs:complexType name="changeRol">
<xs:sequence>
<xs:element name="user" type="tns:users" minOccurs="0"/>
<xs:element name="role" type="tns:userRole" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="users">
<xs:sequence>
<xs:element name="birthdate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="role" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="changeRolResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addArticle">
<xs:sequence>
<xs:element name="article" type="tns:articles" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="articles">
<xs:sequence>
<xs:element name="abstract1" type="xs:string" minOccurs="0"/>
<xs:element name="category" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="keywords" type="xs:string" minOccurs="0"/>
<xs:element name="mainAuthorId" type="tns:users" minOccurs="0"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addArticleResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calculateFinalGradeToArticle">
<xs:sequence>
<xs:element name="article" type="tns:articles" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calculateFinalGradeToArticleResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findArticleBy">
<xs:sequence>
<xs:element name="criteria" type="tns:articleCriteria" minOccurs="0"/>
<xs:element name="value" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findArticleByResponse">
<xs:sequence>
<xs:element name="return" type="tns:articles" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="assignReviewerToArticle">
<xs:sequence>
<xs:element name="user" type="tns:users" minOccurs="0"/>
<xs:element name="article" type="tns:articles" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="assignReviewerToArticleResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addReview">
<xs:sequence>
<xs:element name="review" type="tns:reviews" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reviews">
<xs:sequence>
<xs:element name="articleId" type="tns:articles" minOccurs="0"/>
<xs:element name="date" type="xs:dateTime" minOccurs="0"/>
<xs:element name="grade" type="xs:int"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
<xs:element name="reviewerId" type="tns:users" minOccurs="0"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addReviewResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="login">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginResponse">
<xs:sequence>
<xs:element name="return" type="tns:users" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="signup">
<xs:sequence>
<xs:element name="user" type="tns:users" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="signupResponse">
<xs:sequence>
<xs:element name="return" type="tns:users" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="userRole">
<xs:restriction base="xs:string">
<xs:enumeration value="GENERICO"/>
<xs:enumeration value="AUTOR"/>
<xs:enumeration value="REVISOR"/>
<xs:enumeration value="EDITOR"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="articleCriteria">
<xs:restriction base="xs:string">
<xs:enumeration value="NOMBRE"/>
<xs:enumeration value="CATEGORIA"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>